@media print {
    body {
        padding: 0 !important;
    }
    footer {
        display: none !important;
    }

    .card {
        border: 0 !important;
    }

    .print-none {
        display: none !important;
    }
 }
