// Body
$body-bg: #EDEDED;

// Typography
$font-family-sans-serif: Poppins, Helvetica, "sans-serif";
$font-size-base: 0.8rem;
$line-height-base: 1.6;

$border-radius:               .1rem !default;
$border-radius-lg:            .1rem !default;
$border-radius-sm:            .1rem !default;

// Colors
$blue: #5C9AD3;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$blue_fade: #5ea1df;
