// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

// Variables
@import 'variables';
@import 'print';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'extended';
@import 'mobile';

#social-links {
    & ul {
        list-style: none !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin:0 !important;
        padding:0 !important;

        & li {
            display: inline-block;
            text-align: center;
            padding: 0 3px;

            & a {
                font-size: 24px;

                &:hover {
                    opacity:0.6;
                }

                &.social-facebook {
                    color:#3B5998;
                }

                &.social-twitter {
                    color:#55ACEE;
                }

                &.social-pinterest {
                    color:#C61118;
                }

                &.social-linkedin {
                    color:#0082CA;
                }

                &.social-whatsapp {
                    color:#25D366;
                }

                &.social-telegram {
                    color:#27A5E5;
                }

                &.social-reddit {
                    color:#FF4500;
                }
            }
        }
    }
}

.footer {

    & .github {
        color:#333333;

        &:hover {
            color:#444444;
        }
    }

    & .youtube {
        color:#ED302F;

        &:hover {
            color:#e92323;
        }
    }

    & .facebook {
        color: #097CEB;

        &:hover {
            color:#0473db;
        }
    }

    & .instagram {
        color: #BC0CBA;

        &:hover {
            color:#bd08ba;
        }
    }

    & .pinterest {
        color: #E60023;

        &:hover {
            color:#da0525;
        }
    }

    & .reddit {
        color: #FF4500;

        &:hover {
            color:#f04304;
        }
    }

}
